/* components/Navbar.module.css */

.navbar {
  background-color: #2793b1;
  padding: 1rem;
}

.logo {
  margin-right: auto;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navItem a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.navItem a:hover {
  background-color: #575757;
}
